In [29]:
import numpy as np 
import pandas as pd 

companies = pd.read_csv("companies.csv", encoding = 'unicode_escape')
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,4/9/2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,1/1/2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,1/1/2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,1/1/2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,1/1/2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [30]:
rounds2 = pd.read_csv("rounds2.csv", encoding = 'unicode_escape')
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,5/1/2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,1/3/2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,1/3/2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,1/5/2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,1/8/2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,1/1/2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,1/10/2013,14851.0

Checkpoint 1: Data Cleaning 1

In [31]:
# Question 1) How many unique companies are present in rounds?
len(rounds2["company_permalink"].unique().tolist())
# Answer : 90247

90247

In [32]:
# Question 2) How many unique companies are present in companies?
len(companies["permalink"].unique().tolist())
# Answer : 66368

66368

In [33]:
# Question 3) In the companies data frame, which column can be used as the unique key for each company? Write the name of the column.

# Answer: permalink

In [34]:
# Question 4) Are there any companies in the rounds2 file which are not present in companies? Answer yes or no: Y/N

# Answer: Y

In [57]:
# Question 5) Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame. Name the merged frame master_frame. How many observations are present in master_frame

# Answer: 181317
master_frame = pd.concat([rounds2, companies], axis = 1)
master_frame.shape
master_frame

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,5/1/2015,10000000.0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,4/9/2014
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,1/3/2014,700000.0,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,1/1/2007
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,1/1/2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,1/3/2014,41313.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,1/5/2013,32842.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,1/8/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,1/1/2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,1/10/2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Checkpoint 2: Funding Type Analysis

In [36]:
master_frame['funding_round_type'].value_counts()

# most of other companies are investing in th"Venture"nvestment type.

venture                  55494
seed                     30524
debt_financing            6895
angel                     6094
undisclosed               4897
equity_crowdfunding       3257
private_equity            2285
grant                     2200
convertible_note          1817
post_ipo_equity            638
product_crowdfunding       410
non_equity_assistance      191
post_ipo_debt              152
secondary_market            95
Name: funding_round_type, dtype: int64

In [37]:
import matplotlib.pyplot as plt

df_obj = master_frame.groupby('funding_round_type')
pd.DataFrame(df_obj['raised_amount_usd'].sum()).sort_values('raised_amount_usd', ascending=False)

# Seeing below output, Venture type is giving more returns and most of other companies are investing in this investment type.

                       raised_amount_usd
funding_round_type
venture                     5.901262e+11
private_equity              1.419254e+11
debt_financing              1.138848e+11
post_ipo_equity             5.161061e+10
undisclosed                 3.044143e+10
post_ipo_debt               2.564309e+10
seed                        1.698986e+10
grant                       9.134424e+09
angel                       4.659255e+09
secondary_market            2.389489e+09
convertible_note            2.103126e+09
equity_crowdfunding         6.611162e+08
product_crowdfunding        5.261686e+08
non_equity_assistance       3.001782e+07

In [38]:
df_obj = master_frame.groupby('funding_round_type')
pd.DataFrame(df_obj['raised_amount_usd'].median())

# Unable to boxplot this data, facing difficulty. If we consider Median since mode is not possible,Venture is 5 Million and Private Equity is 20 Million, rest others are less than 5 Million. SO, We conclude that "VENTURE" is best suited investment scheme for the company.

                       raised_amount_usd
funding_round_type
angel                           400000.0
convertible_note                272000.0
debt_financing                 1100000.0
equity_crowdfunding             100000.0
grant                           201684.0
non_equity_assistance            60000.0
post_ipo_debt                 19950000.0
post_ipo_equity               12262852.5
private_equity                20000000.0
product_crowdfunding            183915.0
secondary_market              32600000.0
seed                            275000.0
undisclosed                    1018680.0
venture                        5000000.0

In [61]:
# considering data frame of most suitable investment type for next steps.
master_frame = master_frame.loc[master_frame['funding_round_type']=="venture"]
master_frame

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,5/1/2015,10000000.0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,4/9/2014
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,1/1/2007
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,1/1/2010
5,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114934,/organization/zyrra,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,NaN,18-10-2012,140500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114936,/organization/zystor,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114937,/ORGANIZATION/ZYTOPROTEC,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,A,29-01-2013,2686600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114941,/ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,A,1/4/2012,1587301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,1/8/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Checkpoint 3: Country Analysis

In [65]:
# Getting list of top 9 countries with highest investments in VENTURE type.
top9 = master_frame.sort_values('raised_amount_usd', ascending=False)
top9

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
37569,/ORGANIZATION/FREESCALE,/funding-round/a1495c088d886c8a4f4ce74403b77385,venture,NaN,21-10-2006,1.760000e+10,/Organization/My-Computer-Works,My Computer Works,http://mycomputerworks.com,Consulting,operating,USA,AZ,Phoenix,Scottsdale,15-11-2004
60207,/ORGANIZATION/MEDIAVAST,/funding-round/07e345b61646adffc65946de6a1c88d9,venture,B,30-06-2003,4.700000e+09,/Organization/Ubmobile,"UBMobile, Inc.",http://ubmobile.com,Mobile,operating,USA,CA,SF Bay Area,San Anselmo,1/3/2013
104173,/ORGANIZATION/UBER,/funding-round/7a617d3521e9a71816c8d5cbcd4c49b0,venture,D,6/6/2014,1.200000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104166,/organization/uber,/funding-round/1fa1e079dd45f9d615ce1469ed9090fb,venture,E,4/12/2014,1.200000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112173,/ORGANIZATION/XIAOMI,/funding-round/0022fc712b8a48fc6b7341c6aa3b42a5,venture,E,22-12-2014,1.100000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114847,/ORGANIZATION/ZVOOQ,/funding-round/e2acbf36798538e3f6aace754ca80345,venture,NaN,1/6/2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114860,/organization/zyfin,/funding-round/98cef3afd5e88487a9829ff182fb1a25,venture,A,1/11/2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114895,/ORGANIZATION/ZYMOCHEM,/funding-round/7735e006f2ffa443d9d7e2312173bf93,venture,NaN,16-03-2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114905,/ORGANIZATION/ZYNERGY-PROJECTS-SERVICES,/funding-round/3d7dbd2d92220d93e2b5455f914a0918,venture,NaN,19-08-2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,1/8/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
obj = top9.groupby('raised_amount_usd')
obj['country_code'].value_counts()

# Hence, TOP 3 english speaking countries are : 1) USA 2) GBR 3) ESP in order.

raised_amount_usd  country_code
0.000000e+00       USA             10
                   GBR              4
                   ESP              1
                   ISR              1
2.000000e+00       KOR              1
                                   ..
8.500000e+08       USA              1
9.500000e+08       USA              1
1.000000e+09       USA              1
4.700000e+09       USA              1
1.760000e+10       USA              1
Name: country_code, Length: 10774, dtype: int64

Checkpoint 4: Sector Analysis 1