Data Cleaning and Handling - 1:

 Before getting in, we have to look at the data like what are the fields present in. After that, we will do basic clean up(fixing certain values, handling outliers,) if necessary.  

 After which we will jump to analyse data using different types of plots.

In [55]:
import pandas as pd
import numpy as np 

df = pd.read_csv("googleplaystore_v2.csv")
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [56]:
# Lets see shape
df.shape

(10841, 13)

In [57]:
# We need more info like how many are missing.. USE info()
df.info()
# If we see, Rating,Type, Content Rating, Current Verm Android Ver column has few 1) MISSING (empty cells) values, and some rows may have 2) INVALID DATA types too. Lets see both of these:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

1) Missing Value treatment: 3 options
    a) Impute value into cell
    b) Drop row containg this cell
    c) depending on case, keep them untill they dont affect your analysis.

2) Incorrect Data types: 2 reasons
    a) incorrect entry(different data type when compared to column data type) into a cell
        Eg: O instead of 0 in a cell.
    b) incorrect entire column format(diff data type than expceted) - in such we have to convert entire column. 
        Eg: Mean for string containing column is not possible.

Missing Values:  Affect our Statistics drastically. Eg: Calculating Mean.

Lets remove these two discprepancies.

In [58]:
# 1) Missing Value Treatment: use df.isnull().sum() to see total missing values in each column
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [59]:
# How to treat these missing value depends on column nature and other business factors.

# # Handling Missing values for "Rating", Our Taget Variable.
# We cannot do guess work and replace with most frequent one in the column since the missing number is big and it may affect our analysis drastically. So better(Safety) approach is to drop these rows.

Dropping missing rows: 2 ways 
1) dropna()
2) create new dataframe excluding missing cell rows

In [60]:
# Lets go with 2)
# df.Rating.isnull() - Select all rows with missing values in Rating  column
df = df[~df.Rating.isnull()]
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.000000,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.000000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.000000,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.000000,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.000000,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7,2600.000000,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53000.000000,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3600.000000,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,21516.529524,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19000.000000,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [61]:
# Cross check there are no missing values in Rating Column
df.Rating.isnull().sum()

0

In [62]:
# Now,We have filtered few of rows. Lets check how many rows still have a missing value.abs
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       4
Android Ver       3
dtype: int64

In [63]:
# Lets look at 3 missing value rows of Android Ver and decide whether to impute a value or to drop rows.
df[df['Android Ver'].isnull()]
# first 2 records seems fine. last row shifted bit, It will affect all columns. Lets drop this row.

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11000.000000,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2100.000000,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,21516.529524,Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [64]:
# NOTE: We can drop this mis-aligned row using df.
# We can select this row using 2 options: 1) using row index(Not recommended since Hardcoding is their) 2) using column value  from filtered result.(Recommended)

# 1) using row index
df.loc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                                 19
Reviews                                              3.0M
Size                                              21516.5
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

In [65]:
# 2) using column value from filtered result. NOTE: all braces are imp here.
df[(df['Android Ver'].isnull()) & (df['Category']=='1.9')]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,21516.529524,Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [66]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.000000,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.000000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.000000,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.000000,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.000000,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7,2600.000000,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53000.000000,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3600.000000,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,21516.529524,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19000.000000,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [67]:
# frame a dataframe excluding above one.
df = df[~((df['Android Ver'].isnull()) & (df['Category']=='1.9'))]
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.000000,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.000000,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.000000,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.000000,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.000000,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7,2600.000000,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53000.000000,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3600.000000,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,21516.529524,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19000.000000,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [68]:
# check mis-aligned row has been removed or not
df[df['Android Ver'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11000.0,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2100.0,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN

In [69]:
# NOTE: only 2 rows with Null values
df['Android Ver'].isnull().sum()

2

In [70]:
# NOTE: for Imputing Values, In case of Numerical columns, it may be mean, mode or median. But for Categorical Column, it must be mode. 
# Mode can be calculated using value_counts() or by using mode()
# So its left to you that with what u can impute for null values or drop their rows, otherwise.

Data Handling & Cleaning - 2
(Handling Invalid Data type in columns)

In [71]:
# NOTE: We cannot perform aggregation(mean,sum) on non-numeric column(Categorical or string containing ones.)

In [72]:
# STEP 1) use info() to know data type of all columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   object
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   object
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(2), object(11)
memory usage: 1.0+ MB

In [73]:
# Now, Lets look few rows
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [74]:
# Here, Reviews and Price seems to be numeric but mentiones as type=object above.
# Lets look into all valeues of these column to judge what is their actual type.1) Price column:

In [75]:
# Lets see top 5 rows of Price column
df.Price.head()

0    0
1    0
2    0
3    0
4    0
Name: Price, dtype: object

In [76]:
# Lets see top 5 rows of tail column
# NOTE: non zero values are present in between
df.Price.tail()

10834    0
10836    0
10837    0
10839    0
10840    0
Name: Price, dtype: object

In [77]:
# for non zero prices, it has $ appended. But Logically, we should be able to perform aggregation on this column. So, lets convert it to type = float.
# To do this, we have fetch value after $ symbol and place the rest value.
df = df[~((df['Android Ver'].isnull()) & (df['Category']=='1.9'))]
df['Price'] = df['Price'].apply(lambda x: 0 if x=="0" else float(x[1:]))
df['Price']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
10834    0.0
10836    0.0
10837    0.0
10839    0.0
10840    0.0
Name: Price, Length: 9366, dtype: float64

In [78]:
df.Price.value_counts()

0.00      8719
2.99       114
0.99       107
4.99        70
1.99        59
          ...
299.99       1
1.59         1
1.61         1
3.90         1
2.90         1
Name: Price, Length: 73, dtype: int64

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   object
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   float64
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(3), object(10)
memory usage: 1.0+ MB

Now Price column has been corrected to required float type.

Lets change Reviews Column now.

In [80]:
# df is filtered dataframe referencing above.
df.Reviews.value_counts()
# Seems all values are of integer type, May be rows removed earlier contian some non-numeric character, but still the type of column is "Object". Lets change it to "Ineteger".

2           83
3           78
4           74
5           74
1           67
            ..
28694        1
78298        1
10485334     1
16459        1
43614        1
Name: Reviews, Length: 5992, dtype: int64

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   object
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   float64
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(3), object(10)
memory usage: 1.0+ MB

In [82]:
df.Reviews.value_counts()

2           83
3           78
4           74
5           74
1           67
            ..
28694        1
78298        1
10485334     1
16459        1
43614        1
Name: Reviews, Length: 5992, dtype: int64

In [86]:
# Lets convert entire Reviews column to Integer type.
df['Reviews'] = df['Reviews'].astype("int32")
df.info()
# Yes Reviews column converted to type "Int32"

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   int32
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   float64
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(3), int32(1), object(9)
memory usage: 987.8+ KB

In [87]:
# Can also be confirmed using describe() - which is only for numeric columns
df.Reviews.describe()

count    9.366000e+03
mean     5.140498e+05
std      3.144042e+06
min      1.000000e+00
25%      1.862500e+02
50%      5.930500e+03
75%      8.153275e+04
max      7.815831e+07
Name: Reviews, dtype: float64

In [ ]:
Now, the dataframe dont have "Installs" column in right format.Lets convert it.

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   int32
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   float64
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(3), int32(1), object(9)
memory usage: 1.3+ MB

In [90]:
df['Installs'].head()
# It should be numeric, but due to '+' and ',', it has been treated into Object.
# Lets remove ',' and '+'

0        10,000+
1       500,000+
2     5,000,000+
3    50,000,000+
4       100,000+
Name: Installs, dtype: object

In [95]:
import re
def remove_symbols(x):
    item = list(x)
    s = ''
    for i in item:
        if i=='+' or i==',':
            continue
        else:
            s=s+i
    return s
print(remove_symbols('10,0000+'))

100000

In [98]:
df['Installs'] = df['Installs'].apply(lambda x:remove_symbols(x))

In [104]:
pd.DataFrame(df.Installs)
# Yes we did the task

       Installs
0         10000
1        500000
2       5000000
3      50000000
4        100000
...         ...
10834       500
10836      5000
10837       100
10839      1000
10840  10000000

[9366 rows x 1 columns]

In [106]:
# lets check the type of Installs column
df.info()
# Its is of type Object, Lets convert to Integer

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   int32
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   object
 6   Type            9366 non-null   object
 7   Price           9366 non-null   float64
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(3), int32(1), object(9)
memory usage: 1.3+ MB

In [111]:
df.Installs = df.Installs.astype("int32")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9366 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9366 non-null   object
 1   Category        9366 non-null   object
 2   Rating          9366 non-null   float64
 3   Reviews         9366 non-null   int32
 4   Size            9366 non-null   float64
 5   Installs        9366 non-null   int32
 6   Type            9366 non-null   object
 7   Price           9366 non-null   float64
 8   Content Rating  9366 non-null   object
 9   Genres          9366 non-null   object
 10  Last Updated    9366 non-null   object
 11  Current Ver     9362 non-null   object
 12  Android Ver     9364 non-null   object
dtypes: float64(3), int32(2), object(8)
memory usage: 1.2+ MB