## Introduction to Pandas: Series and Dataframes

Series: like one dimensional array, not restricted to just numeric types, optimised for iterating through values. Built on top of numpy.

Dataframe : like Two dimensional array with row indices and column names. Can contain Mixed type attributes.

In [40]:
# Create a Series : using pd.Series(numpy_array)
import pandas as pd 
import numpy as np

m = pd.Series([1,2,3,4,5])

# print m
m

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [41]:
# Accessing elements of a series : like a 1d list 
# to print single index
m[1]

2

In [42]:
# to print set of indices(rows) : print all rows from index 1
m[1:]

1    2
2    3
3    4
4    5
dtype: int64

In [43]:
# we can print random indexed rows 
# NOTE: m[1,3] will not work to print indices 1 and 3, We need pass in a list like [1,3] in original []
m[[1,3]]

1    2
3    4
dtype: int64

In [44]:
#To contrast with numpy array and pandas series, we have an apply() that applies a function to each element of it. and this is supported only for pandas series.
np.arange(10).apply(lambda x:x+1)

AttributeError: 'numpy.ndarray' object has no attribute 'apply'

In [32]:
pd.Series([1,2,3,4]).apply(lambda x:x+1)

0    2
1    3
2    4
3    5
dtype: int64

Dataframes: Real world data is mentioned i this format. Every row is an object and every column is an attribute.

In [ ]:
Creating Dataframes : many Ways
1) from Dictionary
2) from csv file
3) from json file
4) from text file

In [38]:
# 1) from Dictionary:
df = pd.DataFrame({'Name':['Santoshkumar vagga', 'Suraj Chauhan', 'Satish Biradar', 'Uday Poddar'],
                    'Age':[25,26,24,27],
                    'Education':['M.Sc','M.D', 'B.E', 'M.E']})
df

                 Name  Age Education
0  Santoshkumar vagga   25      M.Sc
1       Suraj Chauhan   26       M.D
2      Satish Biradar   24       B.E
3         Uday Poddar   27       M.E

In [67]:
# 2) from csv: NOTE: Save as CSV(Comma delimited)
df = pd.read_csv('sample_book.xlsx')
df

  Team       Captain   Vice Captain
0  RCB   Virat Kohli  AB de villers
1   MI  Rohit Sharma      K Pollard
2  CSK      MS Dhoni       A Jadeja
3  KXP      KL Rahul      M Agarwal

Reading and Summarising Dataframes

In [68]:
# Print top 5 rows
df.head()

  Team       Captain   Vice Captain
0  RCB   Virat Kohli  AB de villers
1   MI  Rohit Sharma      K Pollard
2  CSK      MS Dhoni       A Jadeja
3  KXP      KL Rahul      M Agarwal